*{
  text-align: center;
  font-family: Helvetica;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#home{
  background-image: url(building.png);
}
a{
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h4{
  font-size: 23px;
  font-weight: bold;
  background-image: url(building.png);
  color: white;
}
#copyright{
  font-size: 11px;
  text-align: left;
}
#bottom{
  display: inline-block;
  text-align: left;
  color: white;
  background-image: url(building.png);
}
